# LOG6308 : Tp2 - Approche contenu

- Cl√©ment Bernard (2096223)
- Ghaith Dekhili (1858454)

## Importations

In [73]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import os
from sklearn.metrics.pairwise import cosine_similarity

In [95]:
DATA = os.path.join(os.getcwd(), 'data')
TABLE_PATH = os.path.join(DATA, 'citeseer.rtable')
ABSTRACT_PATH = os.path.join(DATA,'abstracts.csv')

## Data

In [75]:
# Matrice d'adjacence
m = pd.read_table(TABLE_PATH, sep=' ')
# Number of articles
N = m.shape[0]

# Question 1

In [76]:
# TO DO

# Question 2

In [77]:
m

,100299,100967,10151,101705,101863,102458,102886,102966,10302,103700,...,96767,97060,97150,9721,97410,97863,98185,99113,9947,9993
100299,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100967,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10151,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
101705,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
101863,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97863,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98185,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99113,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9947,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9993,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

- Tout d'abord, pour √©viter les divisions par 0, on met la diagonale de la matrice √† 1

In [78]:
np.fill_diagonal(m.values, 1)

- Ensuite, nous appliquons l'algorithne PageRank

In [79]:
def page_rank(m , d = 0.85, epsilon = 1e-5, max_iter = 10000) : 
    ''' Compute the PageRank score '''
    # Number of articles 
    N = m.shape[0]
    # PageRank values
    r = np.ones((1,N))
    # Initialise the condition 
    new_r = r + 10
    # Iteration 
    iteration = 0
    # Condition : if the mean of difference is greater than epsilon
    condition = abs(r - new_r).mean() > epsilon 
    
    while condition and iteration < max_iter     : 
        # Get the number of output links 
        s = m.sum(axis=0).values.reshape(-1,1)
        # Get the new PageRank vector
        new_r = (1-d)/N +  d * m @ (r.T / s)                
        # Convert into numpy 
        new_r = new_r.values.T
        # Update the condition 
        condition = abs(r - new_r).mean() > epsilon

        r = new_r
        
        iteration+=1
        
    return pd.DataFrame(r.reshape(-1,), index = m.index, columns=['PageRank'])

In [80]:
r = page_rank(m, d= 0.85, epsilon = 1e-5, max_iter = 1000)

In [81]:
r

        PageRank
100299  0.001470
100967  0.000447
10151   0.000674
101705  0.001167
101863  0.000289
...          ...
97863   0.006034
98185   0.000279
99113   0.002592
9947    0.000675
9993    0.000372

[1090 rows x 1 columns]

- Recommendation : prendre les articles maximum de PageRank

In [82]:
def get_recommendation(index, r = r, m=m,N= 10 ): 
    ''' Return recommendations for the index article from PageRank score '''
    # Get the element wise product between the PageRank and adjacent matrix
    idx = m[m.index == index].values * r.values.reshape(1,-1)
    idx = (-idx[0]).argsort()[:N]
    recommend = m.index[idx]
    return list(recommend)

In [83]:
get_recommendation(422908)

[422908, 155792, 3170, 131548, 241538, 17094, 124, 466838, 147460, 149673]

- Variante : etendre le sous-ensemble S aux r√©f√©rences de r√©f√©rences

In [84]:
m_ = m.values @ m.values + m.values.T

In [85]:
m_[m_ >1] = 1

In [86]:
new_m = m.copy()

In [87]:
m_

array([[1, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 1]])

In [88]:
new_m[:] = m_

In [89]:
new_m

,100299,100967,10151,101705,101863,102458,102886,102966,10302,103700,...,96767,97060,97150,9721,97410,97863,98185,99113,9947,9993
100299,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100967,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10151,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
101705,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
101863,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97863,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
98185,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
99113,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9947,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9993,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [90]:
new_r = page_rank(new_m, d= 0.85, epsilon = 1e-5, max_iter = 1000)

In [91]:
def get_recommendation_new(index, r = new_r, m=new_m,N= 10 ): 
    ''' Return recommendations for the index article from PageRank score '''
    # Get the element wise product between the PageRank and adjacent matrix
    idx = m[m.index == index].values * r.values.reshape(1,-1)
    idx = (-idx[0]).argsort()[:N]
    recommend = m.index[idx]
    return list(recommend)

In [92]:
get_recommendation_new(422908)

[311874, 19422, 422908, 83263, 464834, 297641, 366858, 177173, 17507, 226359]

# Question 3

- On consid√®re pour cette question qu'un utilisateur est repr√©sent√© par son vecteur dans la matrice d'adjacence
- On calcule ensuite la distance cosinus pour chaque utilisateur 
- La premi√®re recommendation sera forc√©ment l'utilisateur lui-m√™me

In [93]:
def get_recommendation_sim(m = m , N=10) :
    ''' Return the top N recommendation using the cosine similarity '''
    # Get the similarity for each user 
    df_sim = pd.DataFrame(cosine_similarity(m,m), index = m.index, columns = m.columns)
    # Get the indexes that maximises the cosine similarity
    idx = (-df_sim.values).argsort()
    # Keep the N max
    idx = idx[:,:N]
    
    return pd.DataFrame(idx)

In [94]:
get_recommendation_sim(N=10)

         0     1     2     3     4     5     6     7    8     9
0        0   896   229   971   440   202  1070   477   73   875
1        1   482   484   882   315   919   266   467  519   461
2        2   784  1068   109   282   718   720   721  728   722
3        3   994   759    53  1054   729   728   727  726   725
4        4  1005   116   355   358   970   149   439  121    96
...    ...   ...   ...   ...   ...   ...   ...   ...  ...   ...
1085  1085   496   233   509   227   867   613   887  489  1018
1086  1086   125    91  1031   161   721   237   117  746   677
1087  1087   171   370  1004   391   417   720   721  722   730
1088  1088   544  1008   135   192  1082   871  1012  748   607
1089  1089  1012   414   107   221   809   186  1051  867   636

[1090 rows x 10 columns]

# Question 4

In [97]:
abstract = pd.read_csv(ABSTRACT_PATH)

In [98]:
abstract

,Unnamed: 0,Id,Titre,Auteurs,Description
0,1,124,Hybrid Automata: An Algorithmic Approach to th...,Costas Courcoubetis; Pei-hsin Ho; Rajeev Alur;...,We introduce the framework of hybrid automata ...
1,2,496,Representing Action: Indeterminacy and Ramific...,Enrico Giunchiglia; G. Neelakantan Kartha; Vla...,We define and study a high-level language for ...
2,3,712,A Decision Procedure for a Temporal Belief Logic,Michael Fisher; Michael Wooldridge;,. This paper presents a temporal belief logic ...
3,4,1186,A Comparative Evaluation of Sequential Feature...,David W. Aha; Richard L. Bankert;,Several recent machine learning publications d...
4,5,1347,Extending Promela and Spin for Real Time,Costas Courcoubetis; Stavros Tripakis;,The efficient representation and manipulation ...
...,...,...,...,...,...
1085,1086,548670,Null,NaN,NaN
1086,1087,549091,Null,NaN,NaN
1087,1088,561317,Null,NaN,NaN
1088,1089,570764,Null,NaN,NaN
1089,1090,573595,Null,NaN,NaN

- On ne consid√®re que les descriptions (peut √™tre √† modifier)

In [117]:
from nltk.stem import WordNetLemmatizer 
from nltk.tokenize import word_tokenize
import nltk
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/clementbernard/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/clementbernard/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [138]:
def get_vocab_and_lemmatize(sentences = abstract['Description']) : 
    ''' Return the vocabulary of the sentences, and the lemmatisated sentences  '''
    vocab = set()
    new_sentences = []
    lemmatizer = WordNetLemmatizer() 

    for sentence in sentences : 
        n_sentence = []
        try : 
            for word in  word_tokenize(sentence) : 
                lem_word = lemmatizer.lemmatize(word)
                n_sentence.append(lem_word)
                vocab.add(lem_word)
        except : 
            pass
        
        new_sentences.append(n_sentence)
    return vocab, new_sentences

In [139]:
vocab, new_sentences = get_vocab_and_lemmatize()

In [192]:
def create_term_document_matrix(vocab = vocab, new_sentences = new_sentences, abstract = abstract) : 
    ''' Return the term-document matrix '''
    n_vocab = len(vocab)
    n_document = abstract.shape[0]
    
    matrix = pd.DataFrame(np.zeros((n_vocab, n_document)), index = vocab, columns = abstract.index)
    for i,sentence in enumerate(new_sentences) : 
        for word in sentence : 
            i_word = (matrix.index == word)
            matrix.iloc[i_word, i] = 1
    
    return matrix

In [193]:
term_document = create_term_document_matrix()

# TO DO : TF-IDF

# Question 5

In [28]:
# TO DO